{% extends 'base.html' %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          {% load static %}
          <img src="{% static 'inventory/homepage.jpg' %}" class="d-block mx-lg-auto img-fluid rounded-lg-3" alt="HomePage" loading="lazy">
          <div class="fw-lighter">Photo by <a href="https://unsplash.com/@carlheyerdahl?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Carl Heyerdahl</a> on <a href="https://unsplash.com/photos/silver-imac-with-keyboard-and-trackpad-inside-room-KE0nC8-58MQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Inventory App</h1>
        <p class="lead">The Inventory App is a web application developed using Django, a Python web framework. It serves as a simple yet efficient solution for managing and tracking product inventory. Users can log in to the app, view a list of products, and perform actions such as editing and deleting products. The app also includes user authentication, allowing registered users to log in, while new users can sign up.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="{% url 'inventory:product_list' %}">View All Products</a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Updates</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
